version: '3.7'

services:
  unifi-network-application:
    image: lscr.io/linuxserver/unifi-network-application:latest
    container_name: unifi-network-application
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_HOST=unifi-db
      - MONGO_PORT=27017
      - MONGO_DBNAME=unifi
      - MONGO_AUTHSOURCE=admin
      - MEM_LIMIT=1024 #optional
      - MEM_STARTUP=256 #optional
      - MONGO_TLS= #optional
    volumes:
      - ${LOCVOL1}unifi/app:/config
    ports:
      - 8443:8443 #Web admin
      - 3478:3478/udp #Unifi STUN
      - 10001:10001/udp #Required for AP discovery
      - ${INFORM_PORT}:8080 #Required for device communication
      - 1900:1900/udp #Required for Make controller discoverable on L2 network option, already in use on Synology NAS
      #- 8843:8843 #optional - Unifi guest portal HTTPS redirect port
      #- 8880:8880 #optional - Unifi guest portal HTTP redirect port
      #- 6789:6789 #optional - For mobile throughput test
      #- 5514:5514/udp #optional - Remote syslog port
    restart: unless-stopped
    depends_on:
    - unifi-db
#
  unifi-db:
    image: ${MONGO_IMAGE} #docker.io/mongo:4.4.26
    container_name: unifi-db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASS}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_DBNAME=unifi
      - MONGO_AUTHSOURCE=admin
    volumes:
      - ${LOCVOL1}unifi/db:/data/db
      - ${LOCVOL1}unifi/db/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
    restart: unless-stopped
#
networks:
  default:
    name: ${CONNET}
    external: true